body {
  font-family: Helvetica, sans-serif;
  background-color: #ffebeb;
  color: #504163;
}

section {
  background-color: #fff;
  padding: 30px 30px;
}
a {
  color: #c22557;
  text-decoration: none;
}
nav a {
  color: #fff;
  text-decoration: none;
}
h1 {
  color: #504163;
  text-align: center;
  font-weight: bold;
}

h1:hover {
  font-size: 28px;
  transition: 0.1s font-size linear;
}
footer a {
  color: #ffffff;
}
nav {
  margin: 0 auto;
  background-color: #867f8f;
  font-size: 18px;
}

nav:hover {
  background-color: #9d2053;
}

nav ul {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
}
nav li {
  display: inline-block;
  padding: 20px 10px;
}

nav a:hover {
  color: #ffedbf;
}

label {
  width: 100%;
  display: inline-block;
}

input:nth-of-type(-n + 3),
select {
  width: 95%;
  padding: 10px 10px;
  margin: 20px 0px;
  -ms-box-sizing: content-box; /*The box-sizing property allows you to define certain elements to fit an area in a certain way. This forces the browser to render the box with the specified width and height, and place the border and padding inside the box. */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  width: 100%; /*Why is the text area showing as wider if it's set to the same with as the sum of label and input? */
  height: 80px;
  resize: none;
  margin: 0px;
  padding: 0px;
}

input[type="submit"] {
  width: 100%;
  margin: 20px 0px;
  padding: 10px 10px;
  font-size: 16px;
  background-color: #504163;
  color: #fff;
  font-weight: bold;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #9d2053;
}

footer {
  background-color: #0e002f;
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding: 20px 0px;
}

.far {
  margin-right: 10px;
}
.far,
#email > p {
  display: inline-block !important;
  position: relative;
}
label {
  width: 30%;
  display: inline-block;
}

label[for="more-info"] {
  width: 100%;
  display: block;
  margin: 20px 0px;
}
@media screen and (min-width: 600px) {
  section {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px 30px;
  }
  nav li {
    display: inline-block;
    padding: 20px 30px;
  }
  label[for="reading"], /* Wouldn't be better here to have a class for the checkbox labels? so if I had 100 checkbox labels I wouldn't have to write the code for each "for". Thank you*/
  label[for="sleeping"],
  label[for="tvshows"] {
    width: 15%;
  }
  label[for="more-info"] {
    width: 60%;
    display: block;
    margin: 20px 0px;
  }
  label {
    width: 30%;
    display: inline-block;
  }
}
