


#icon {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 100%;}

#cityInfo{
    text-align: center;
   
}

#country{
    font-weight: normal;
    color:#9d2053;
}

#city {
    font-weight: bold;
    color:#9d2053;
}

#wind,#temperature,#percipitation{
    display: inline-block;
    position: relative;
    width: 33%;
    text-align: center;
}

#results {
    width: 100%;
}