body  {
  background-color: #EED9DE;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


h1{
  color: #A50318;
}

.title {
  color: #A50318;
  font-weight: bold;
}

button {
  display: block;
  position: relative;
  width: 50%;
  color: #ffffff;
  background-color:#A50318 ;
  padding:10px 10px;
  margin: 0 auto;
  border: 0px;
  margin-top: 20px;  
  box-sizing: border-box;
}

input {
  width: 50%;
  padding:10px 10px;
  box-sizing: border-box;
}
#root {
  padding-top:50px;
  width: 50%;
  display: block;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.outPut{
  margin-top: 30px;
}

.outPut img {
  width: 50px;
}
.App {
  text-align: center;
}


.error {
  font-size:30px;
  color: #A50318;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
