#icon {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
}

#cityInfo {
  text-align: center;
}

#country {
  font-weight: normal;
  color: #9d2053;
}

#city {
  font-weight: bold;
  color: #9d2053;
}

#wind,
#temperature,
#percipitation {
  display: inline-block;
  position: relative;
  width: 20%;
  text-align: center;
}

#windResult, #humidityResult, #temperatureResult{
    font-size: 30px;
    text-align: center;
    color: #9d2053;
}

#results {
  width: 100%;
}

#background > #date {
  text-align: center;
}

#cityInfo {
  display: none;
}

#errorLocation {
  display: none;
}

#icon {
  width: 80px;
  height: auto;
}

.results {
    margin: 0 auto;
    position: relative;
    display: block;
    text-align: center;
}
}
